/* Thiết lập chung */
html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF8E7; /* Đổi sang nền Kem sáng */
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full màn hình */
}

/* Ô A: Tiêu đề */
.box-a {
    background-color: #B71C1C;
    color: #FFC107; 
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid #FFC107;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* Bóng chữ nhẹ */
}

/* Phần giữa chứa B và C */
.middle-section {
    display: flex;/*Bật chế độ dàn trang*/
    flex: 1; /* Tự động giãn rộng phần giữa */
}

/* Ô B: Menu */
.box-b {
    width: 200px; 
    background-color: #D32F2F; /*Màu nền phần B*/
    padding: 15px;
    border-right: 2px solid #E57373; /* Thêm viền*/
}

.box-b h3 {
    color: #FFECB3; /* Thêm màu vàng nhạt cho tiêu đề menu */
    margin-top: 0;
}

.box-b ul {
    list-style: none;
    padding: 0;
}

.box-b li {
    margin-bottom: 10px;
}

.box-b a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    display: block;
    padding: 10px 8px;
    border: 2px solid #FFC107; /* Viền vàng kim 2px */
    border-radius: 5px;
    transition: 0.3s; 
}

.box-b a:hover {
    background-color: #FFC107; 
    color: #B71C1C; /* Màu chữ */
    transform: scale(1.02); /* Phóng to nút nhẹ khi hover */
}

/* Ô C: Nội dung */
.box-c {
    flex: 1; 
    background-color: #FFF8E7;/*Màu nền*/
}

.box-c iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Ô D: Thông tin cá nhân */
.box-d {
    background-color: #881414; /*Màu nền*/
    color: #FFECB3;            /* Màu chữ*/
    padding: 10px;           /*độ rộng*/
    text-align: center;
    font-size: 10px;           /*phóng to chữ*/
}